# Gradle
.gradle/
**/build/
out/

# Android Studio
.idea/
*.iml
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Local configs
local.properties
/.DS_Store

# Keystores / secrets
*.jks
*.keystore
signing.properties

# Generated
captures/
.externalNativeBuild/
.cxx/

# Kotlin/Java
*.class
*.log

# Android test outputs
outputs/

# Packaging
*.apk
*.aab
